@model IPagedList<ParkedVehicle>

@{
    ViewBag.Title = "Index";
}
<div class="container">
    <h2>Garage</h2>

    <div class="row">
        <button class="btn btn-default" id="btnSubmit">@Html.ActionLink("Park New Vehicle", "Create")</button>
    </div>
    <br />
    <fieldset class="row">

        @using (Html.BeginForm("Index", "ParkedVehicles", FormMethod.Get))
        {
            <p>
                <cite>Search By:</cite><br />
                @Html.RadioButton("SearchBy", "RegistrationNumber", true)<text>RegistrationNumber&nbsp;</text>
                @Html.RadioButton("SearchBy", "Type")<text>Type&nbsp;</text>
                @*@Html.RadioButton("SearchBy", "Brand")<text>Brand&nbsp;</text>*@
                @*@Html.RadioButton("SearchBy", "Model")<text>Model&nbsp;</text>*@
                @Html.RadioButton("SearchBy", "Color")<text>Color&nbsp;</text>
                @*@Html.RadioButton("SearchBy", "NumberOfWheels")<text>NumberOfWheels&nbsp;</text>*@
                @Html.RadioButton("SearchBy", "CheckIn")<text>CheckIn&nbsp;</text><br />
                @Html.TextBox("search", null, new { @class = "form-control", placeholder = "Search for..." })<br />
                <input type="submit" value="Search" class="btn btn-default" id="btnSearch" />
            </p>
        }
    </fieldset>

    <table class="table table-hover table-responsive table-striped">
        <tr>
            <th>
                @Html.ActionLink("Type", "Index", new { sortBy = ViewBag.SortTypeParameter, searchBy = Request.QueryString["searchBy"], search = Request["search"] })
            </th>
            <th>
                @Html.ActionLink("RegistrationNumber", "Index", new { sortBy = ViewBag.SortRegistrationNumberParameter, searchBy = Request.QueryString["searchBy"], search = Request["search"] })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Color)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.First().Brand)
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.First().Model)
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.First().NumberOfWheels)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.First().CheckIn)
            </th>
            <th>Action</th>
        </tr>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="7">We are sorry No rows match search critiria. Please try again.</td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegistrationNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Color)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.Brand)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Model)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumberOfWheels)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.CheckIn)

                    </td>
                    <td>
                        @*<button class="btn btn-default">@Html.ActionLink("Edit", "Edit", new { id = item.Id })</button>*@
                        <button class="btn btn-default" id="btnDetails">@Html.ActionLink("Details", "Details", new { id = item.Id })</button>
                        <button class="btn btn-default" id="btnUnpark">@Html.ActionLink("Unpark", "Delete", new { id = item.Id })</button>
                    </td>
                </tr>
            }
        }
    </table>
</div>
<div class="row">
    <div class="text-center">
        @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page, searchBy = Request.QueryString["searchBy"], search = Request.QueryString["search"]}),
       new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true})    
     </div>
</div>