@model IEnumerable<MVC_GarageApp.Models.ParkedVehicle>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
   <button class="btn btn-default">@Html.ActionLink("Create New", "Create")</button>
    <div class="form-group pull-right">
        <form method="get">
                <input type="search" name="searchTerm" class="form-control" placeholder="What you are looking for?" />
                <button type="submit" class="btn btn-default">Search By Brand</button> 
        </form>
    </div> 
</div>
@*@using (Ajax.BeginForm(new AjaxOptions
{
    HttpMethod = "get",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "GarageList"
}))*@
    <table class="table table-hover table-responsive table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfWheels)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfWheels)
                </td>
                <td>
                    <button class="btn btn-default">@Html.ActionLink("Edit", "Edit", new { id = item.Id })</button>
                    <button class="btn btn-default">@Html.ActionLink("Details", "Details", new { id = item.Id })</button>
                    <button class="btn btn-default">@Html.ActionLink("Delete", "Delete", new { id = item.Id })</button>
                </td>
            </tr>
        }

    </table>
